Repository nightah/Exiled-Exchange-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, lint-fix-main, lint-fix-renderer, format-main, format-renderer

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: check-version-consistency
        name: Check Version Consistency
        entry: python ./versionCheck.py
        language: python
        files: \.(js|md|yml|json)$

    -   id: lint-fix-main
        name: Lint Fix Main Project
        entry: npm run fix --prefix ./main
        language: system
        pass_filenames: false
        files: ^main/.*\.(ts|js|jsx|tsx)$

    -   id: lint-fix-renderer
        name: Lint Fix Renderer Project
        entry: npm run lint-fix --prefix ./renderer
        language: system
        pass_filenames: false
        files: ^renderer/.*\.(ts|js|jsx|tsx|vue)$

    -   id: format-main
        name: Format Main Project
        entry: npm run format --prefix ./main
        language: system
        pass_filenames: false
        files: ^main/.*\.(ts|js|jsx|tsx|vue|json|md)$

    -   id: format-renderer
        name: Format Renderer Project
        entry: npm run format --prefix ./renderer
        language: system
        pass_filenames: false
        files: ^renderer/.*\.(ts|js|jsx|tsx|vue|json|md)$

delete commented code empty mod related
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: lint-fix-renderer, format-renderer

run linter on python file
  exiled-exchange-2.code-workspace
  versionCheck.py
Due: none

update bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: check-version-consistency

[Bug]: Typo in Flying Spear implicit mod Fixes #639
  renderer/public/data/cmn-Hant/items.ndjson
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/items.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/items.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

[Bug]: When search the logbook, area level field doesn't work Fixes #647
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: lint-fix-renderer, format-renderer

[Bug]: In Korean, critical strike chance for bows cannot be searched! Fixes #644
  renderer/public/data/ko/client_strings.js
Due: check-version-consistency, lint-fix-renderer, format-renderer

Data update for pseudos
  renderer/public/data/cmn-Hant/items.ndjson
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

Add back all pseudos Fixes #653 Fixes #655
  renderer/src/web/Config.ts
  renderer/src/web/overlay/widgets.ts
  renderer/src/web/price-check/CheckedItem.vue
  renderer/src/web/price-check/PriceCheckWindow.vue
  renderer/src/web/price-check/filters/create-presets.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
  renderer/src/web/price-check/filters/fill-runes.ts
  renderer/src/web/price-check/filters/pseudo/index.ts
  renderer/src/web/price-check/settings-price-check.vue
  renderer/src/web/price-check/trade/TradeListing.vue
Due: lint-fix-renderer, format-renderer

Remove weighted sum calcs Fixes #654
  renderer/src/assets/data/index.ts
  renderer/src/assets/data/interfaces.ts
  renderer/src/web/price-check/CheckedItem.vue
  renderer/src/web/price-check/filters/create-presets.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
  renderer/src/web/price-check/filters/interfaces.ts
  renderer/src/web/price-check/filters/pseudo/index.ts
  renderer/src/web/price-check/trade/TradeListing.vue
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: lint-fix-renderer, format-renderer

Add back all pseudos Fixes #652
  renderer/src/web/price-check/filters/pseudo/index.ts
Due: lint-fix-renderer, format-renderer

forgot some
  renderer/src/web/price-check/filters/pseudo/index.ts
Due: lint-fix-renderer, format-renderer

push working tree pseudos active
  renderer/src/web/background/Prices.ts
  renderer/src/web/item-search/WidgetItemSearch.vue
  renderer/src/web/price-check/filters/FilterModifierAnointment.vue
  renderer/src/web/price-check/price-prediction/poeprices.ts
  renderer/src/web/price-check/related-items/RelatedItems.vue
  renderer/src/web/price-check/stack-value/StackValue.vue
  renderer/src/web/price-check/trends/PriceTrend.vue
  renderer/src/web/ui/ItemQuickPrice.vue
Due: lint-fix-renderer, format-renderer

works?
  main/src/proxy.ts
  renderer/src/web/background/Prices.ts
Due: lint-fix-main, lint-fix-renderer, format-main, format-renderer

Add it all in
  renderer/src/web/background/Prices.ts
  renderer/src/web/item-search/WidgetItemSearch.vue
  renderer/src/web/price-check/filters/FilterModifierAnointment.vue
  renderer/src/web/price-check/filters/pseudo/anointments.ts
  renderer/src/web/price-check/price-prediction/poeprices.ts
  renderer/src/web/price-check/stack-value/StackValue.vue
  renderer/src/web/price-check/trade/TradeBulk.vue
  renderer/src/web/price-check/trade/pathofexile-bulk.ts
Due: lint-fix-renderer, format-renderer

increase retry timer to not ge super spammed
  renderer/src/web/background/Prices.ts
Due: lint-fix-renderer, format-renderer

version bump
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/.vitepress/config.js
  main/package-lock.json
  main/package.json
  renderer/src/web/price-check/related-items/RelatedItems.vue
Due: check-version-consistency, lint-fix-renderer, format-main, format-renderer

banner
  renderer/src/web/conversion-warn-banner/ConversionWarningBanner.vue
  renderer/src/web/item-check/ItemInfo.vue
  renderer/src/web/map-check/MapCheck.vue
  renderer/src/web/overlay/WidgetMenu.vue
  renderer/src/web/price-check/PriceCheckWindow.vue
  renderer/src/web/settings/SettingsWindow.vue
Due: lint-fix-renderer, format-renderer

Chaos resistance is counting toward #% Total Elemental Resistance when price checking Fixes #660
  renderer/src/web/price-check/filters/pseudo/index.ts
Due: lint-fix-renderer, format-renderer

version bump
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/.vitepress/config.js
  main/package-lock.json
  main/package.json
  renderer/src/web/price-check/filters/pseudo/index.ts
Due: check-version-consistency, lint-fix-renderer, format-main, format-renderer

also hide added runes
  renderer/src/web/price-check/filters/pseudo/index.ts
Due: lint-fix-renderer, format-renderer

next attempt at fixing installer issues
  main/electron-builder.yml
Due: check-version-consistency

Hide desecrated mods
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

change gone
  renderer/src/web/price-check/trade/TradeItem.vue
  renderer/src/web/price-check/trade/trade-api.ts
Due: lint-fix-renderer, format-renderer

mark price fixed items
  renderer/public/data/cmn-Hant/app_i18n.json
  renderer/public/data/de/app_i18n.json
  renderer/public/data/en/app_i18n.json
  renderer/public/data/es/app_i18n.json
  renderer/public/data/ja/app_i18n.json
  renderer/public/data/ko/app_i18n.json
  renderer/public/data/pt/app_i18n.json
  renderer/public/data/ru/app_i18n.json
  renderer/src/web/price-check/trade/TradeListing.vue
Due: check-version-consistency, lint-fix-renderer, format-renderer

version bump
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/.vitepress/config.js
  main/package-lock.json
  main/package.json
Due: check-version-consistency, format-main

fix: Prevent focus stealing on Linux/X11 with GNOME
  main/src/windowing/OverlayWindow.ts
Due: lint-fix-main, format-main

[Bug]: Relic/Sanctum "Movement Speed" mod parsed wrong. Fixes #678
  renderer/src/web/price-check/filters/create-presets.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

[Bug]: DPS calc broken in chinese language Fixes #670
  renderer/public/data/cmn-Hant/client_strings.js
  renderer/public/data/de/client_strings.js
  renderer/public/data/en/client_strings.js
  renderer/public/data/es/client_strings.js
  renderer/public/data/ja/client_strings.js
  renderer/public/data/ko/client_strings.js
  renderer/public/data/pt/client_strings.js
  renderer/public/data/ru/client_strings.js
  renderer/src/assets/data/interfaces.ts
  renderer/src/parser/Parser.ts
Due: check-version-consistency, lint-fix-renderer, format-renderer

desecrated maybe fix for consoles
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

Add desecrated to count in empty
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

more base item show up
  renderer/src/web/price-check/filters/common.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

fix tablets showing bulk rates
  renderer/public/data/cmn-Hant/items.ndjson
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/items.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/items.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/items.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/items.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/items.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/items.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/items.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

Fix non exact charm slot
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

tablets better
  renderer/public/data/cmn-Hant/app_i18n.json
  renderer/public/data/de/app_i18n.json
  renderer/public/data/en/app_i18n.json
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/app_i18n.json
  renderer/public/data/ja/app_i18n.json
  renderer/public/data/ko/app_i18n.json
  renderer/public/data/pt/app_i18n.json
  renderer/public/data/ru/app_i18n.json
  renderer/src/parser/Parser.ts
  renderer/src/parser/meta.ts
  renderer/src/web/price-check/filters/common.ts
  renderer/src/web/price-check/filters/create-item-filters.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: check-version-consistency, lint-fix-renderer, format-renderer

remove magic hidden since lowered requirements
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

old installer
  main/electron-builder.yml
Due: check-version-consistency

Revert "remove magic hidden since lowered requirements"
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

change optional magic filter for lower ilvl
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

remove useless null check
  renderer/src/web/price-check/filters/common.ts
Due: lint-fix-renderer, format-renderer

add app_i18n
  renderer/public/data/cmn-Hant/app_i18n.json
  renderer/public/data/de/app_i18n.json
  renderer/public/data/en/app_i18n.json
  renderer/public/data/es/app_i18n.json
  renderer/public/data/ja/app_i18n.json
  renderer/public/data/ko/app_i18n.json
  renderer/public/data/pt/app_i18n.json
  renderer/public/data/ru/app_i18n.json
Due: check-version-consistency, format-renderer
