Repository nightah/Exiled-Exchange-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, lint-fix-main, lint-fix-renderer, format-main, format-renderer

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: check-version-consistency
        name: Check Version Consistency
        entry: python ./versionCheck.py
        language: python
        files: \.(js|md|yml|json)$

    -   id: lint-fix-main
        name: Lint Fix Main Project
        entry: npm run fix --prefix ./main
        language: system
        pass_filenames: false
        files: ^main/.*\.(ts|js|jsx|tsx)$

    -   id: lint-fix-renderer
        name: Lint Fix Renderer Project
        entry: npm run lint-fix --prefix ./renderer
        language: system
        pass_filenames: false
        files: ^renderer/.*\.(ts|js|jsx|tsx|vue)$

    -   id: format-main
        name: Format Main Project
        entry: npm run format --prefix ./main
        language: system
        pass_filenames: false
        files: ^main/.*\.(ts|js|jsx|tsx|vue|json|md)$

    -   id: format-renderer
        name: Format Renderer Project
        entry: npm run format --prefix ./renderer
        language: system
        pass_filenames: false
        files: ^renderer/.*\.(ts|js|jsx|tsx|vue|json|md)$

Add price to interface
  exiled-exchange-2.code-workspace
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: lint-fix-renderer, format-renderer

add cache
  exiled-exchange-2.code-workspace
  renderer/src/assets/data/index.ts
  renderer/src/web/background/Prices.ts
  renderer/src/web/price-check/trends/getDetailsId.ts
Due: lint-fix-renderer, format-renderer

add normalized price to results
  exiled-exchange-2.code-workspace
  renderer/src/web/price-check/trade/pathofexile-trade.ts
  renderer/src/web/price-check/trends/getDetailsId.ts
Due: lint-fix-renderer, format-renderer

show price
  renderer/src/web/price-check/trade/TradeItem.vue
  renderer/src/web/price-check/trade/TradeListing.vue
Due: lint-fix-renderer, format-renderer

final stuff
  exiled-exchange-2.code-workspace
  renderer/src/web/price-check/trade/TradeItem.vue
  renderer/src/web/price-check/trade/TradeListing.vue
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: lint-fix-renderer, format-renderer

fix ritual and flasks recovery
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

right click remove defaults
  renderer/src/web/price-check/filters/FilterModifierItemIsElemental.vue
Due: lint-fix-renderer, format-renderer

data
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

fix unique belt
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

fixed stats
  renderer/public/data/cmn-Hant/items.ndjson
  renderer/public/data/de/items.ndjson
  renderer/public/data/en/items.ndjson
  renderer/public/data/es/items.ndjson
  renderer/public/data/ja/items.ndjson
  renderer/public/data/ko/items.ndjson
  renderer/public/data/pt/items.ndjson
  renderer/public/data/ru/items.ndjson
Due: none

hide runes on uniques
  exiled-exchange-2.code-workspace
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

[Bug]: The Unborn Lich Ravenous Staff parsing issue Fixes #624
  renderer/public/data/cmn-Hant/client_strings.js
  renderer/public/data/de/client_strings.js
  renderer/public/data/en/client_strings.js
  renderer/public/data/es/client_strings.js
  renderer/public/data/ja/client_strings.js
  renderer/public/data/ko/client_strings.js
  renderer/public/data/pt/client_strings.js
  renderer/public/data/ru/client_strings.js
  renderer/src/parser/Parser.ts
Due: check-version-consistency, lint-fix-renderer, format-renderer

fix megalomanic only showing one annoint
  renderer/src/parser/modifiers.ts
Due: lint-fix-renderer, format-renderer

Fix unique variants
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/stats.ndjson
  renderer/src/parser/Parser.ts
  renderer/src/parser/modifiers.ts
  renderer/src/parser/stat-translations.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

enable psuedo on some uniques
  renderer/src/parser/Parser.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

version bump
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/.vitepress/config.js
  main/package-lock.json
  main/package.json
  main/src/windowing/OverlayWindow.ts
Due: check-version-consistency, lint-fix-main, format-main

Attempt to work around #471
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

drop "fromChat"
  renderer/specs/Parser/items.ts
  renderer/src/parser/ParsedItem.ts
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

Drop any fixes for uncut gems Fixes #628
  main/src/shortcuts/HostClipboard.ts
Due: lint-fix-main, format-main

oops didn't have a div to test on
  renderer/src/web/price-check/stack-value/StackValue.vue
Due: lint-fix-renderer, format-renderer

add note prop
  renderer/src/parser/ParsedItem.ts
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

add filter by buyout price
  exiled-exchange-2.code-workspace
  renderer/public/data/cmn-Hant/app_i18n.json
  renderer/public/data/de/app_i18n.json
  renderer/public/data/en/app_i18n.json
  renderer/public/data/es/app_i18n.json
  renderer/public/data/ja/app_i18n.json
  renderer/public/data/ko/app_i18n.json
  renderer/public/data/pt/app_i18n.json
  renderer/public/data/ru/app_i18n.json
  renderer/src/web/Config.ts
  renderer/src/web/item-check/ItemInfo.vue
  renderer/src/web/item-check/WidgetItemCheck.vue
  renderer/src/web/item-check/hotkeyable-actions.ts
  renderer/src/web/item-check/settings-item-check.vue
  renderer/src/web/item-check/widget.ts
Due: check-version-consistency, lint-fix-renderer, format-renderer

Fix for upstream bug
  main/src/shortcuts/text-box.ts
Due: lint-fix-main, format-main

Data update fix morior invictus
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

move tests stuff around a little
  exiled-exchange-2.code-workspace
  renderer/specs/Parser/example.test.ts
  renderer/specs/Parser/itemTextToSections.test.ts
  renderer/specs/Parser/magic-name.test.ts
  renderer/specs/Parser/uncutSkillGem.test.ts
  renderer/specs/web/useTradeApi.test.ts
  renderer/tsconfig.json
  renderer/vite.config.mts
Due: check-version-consistency, lint-fix-renderer, format-renderer

[Bug]: Damage above 1000 is split on comma Fixes #696
  renderer/specs/Parser/itemTextToSections.test.ts
  renderer/specs/Parser/items.ts
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

Add skill level filter Fixes #691
  dataParser/data/interfaces-apt.ts
  dataParser/items.ts
  dataParser/vendor/client/overrideData/data.txt
  dataParser/vendor/client/tables/index.ts
  exiled-exchange-2.code-workspace
  renderer/public/data/cmn-Hant/app_i18n.json
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/app_i18n.json
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/app_i18n.json
  renderer/public/data/es/app_i18n.json
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/app_i18n.json
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/app_i18n.json
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/app_i18n.json
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/app_i18n.json
  renderer/public/data/ru/stats.ndjson
  renderer/specs/Parser/items.ts
  renderer/specs/Parser/modifiersParsers.test.ts
  renderer/specs/Parser/parsers.test.ts
  renderer/src/parser/Parser.ts
  renderer/src/parser/modifiers.ts
  renderer/src/web/price-check/filters/FilterModifier.vue
  renderer/src/web/price-check/filters/create-stat-filters.ts
  renderer/src/web/price-check/filters/interfaces.ts
Due: check-version-consistency, lint-fix-renderer, format-renderer

version bump
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/.vitepress/config.js
  main/package-lock.json
  main/package.json
Due: check-version-consistency, format-main

controller fix 2 maybe?
  renderer/src/parser/Parser.ts
Due: lint-fix-renderer, format-renderer

Fix quality showing when not really relevant
  renderer/src/web/price-check/trade/TradeItem.vue
  renderer/src/web/price-check/trade/TradeListing.vue
Due: lint-fix-renderer, format-renderer

Fix removed skill word for some reason?
  dataParser/data/interfaces-apt.ts
  dataParser/items.ts
  dataParser/vendor/client/overrideData/data.txt
  dataParser/vendor/client/tables/index.ts
Due: none

Stop flooring logbook levels for now
  renderer/src/web/price-check/filters/create-item-filters.ts
Due: lint-fix-renderer, format-renderer

data update
  renderer/public/data/cmn-Hant/items.ndjson
  renderer/public/data/cmn-Hant/stats.ndjson
  renderer/public/data/de/items.ndjson
  renderer/public/data/de/stats.ndjson
  renderer/public/data/en/items.ndjson
  renderer/public/data/en/stats.ndjson
  renderer/public/data/es/items.ndjson
  renderer/public/data/es/stats.ndjson
  renderer/public/data/ja/items.ndjson
  renderer/public/data/ja/stats.ndjson
  renderer/public/data/ko/items.ndjson
  renderer/public/data/ko/stats.ndjson
  renderer/public/data/pt/items.ndjson
  renderer/public/data/pt/stats.ndjson
  renderer/public/data/ru/items.ndjson
  renderer/public/data/ru/stats.ndjson
Due: none

Make tablets less confusing
  renderer/src/web/price-check/filters/create-presets.ts
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

[Bug]: Uruk's Smelting not found in poe ninja results Fixes #710
  renderer/src/web/price-check/filters/create-item-filters.ts
  renderer/src/web/price-check/trends/getDetailsId.ts
Due: lint-fix-renderer, format-renderer

[Bug]: Idol of Estazunti treated as currency when not on CE Fixes #711
  exiled-exchange-2.code-workspace
  renderer/public/data/cmn-Hant/items.ndjson
  renderer/public/data/de/items.ndjson
  renderer/public/data/en/items.ndjson
  renderer/public/data/es/items.ndjson
  renderer/public/data/ja/items.ndjson
  renderer/public/data/ko/items.ndjson
  renderer/public/data/pt/items.ndjson
  renderer/public/data/ru/items.ndjson
  renderer/src/parser/Parser.ts
  renderer/src/parser/meta.ts
  renderer/src/web/price-check/filters/create-item-filters.ts
  renderer/src/web/price-check/trade/pathofexile-trade.ts
Due: lint-fix-renderer, format-renderer

make annoints appear much less
  exiled-exchange-2.code-workspace
  renderer/src/web/price-check/filters/pseudo/anointments.ts
Due: lint-fix-renderer, format-renderer

Fix hiding res on uniques
  renderer/src/web/price-check/filters/create-stat-filters.ts
Due: lint-fix-renderer, format-renderer

[Bug]: Pseudo life treats the life increase from Strength incorrectly Fixes #707
  renderer/src/web/price-check/filters/pseudo/index.ts
Due: lint-fix-renderer, format-renderer
